<mat-card-content>
  <mat-card-title>{{title}}</mat-card-title>
  <video controls="true"
         #videoPlayer
         [ngStyle]="{'height':height,'width':width}"
         (ended)="onPlaybackEnded($event)"
         (play)="onPlaybackStarted($event)"
         (pause)="onPlaybackPaused($event)"
         (waiting)="onBuffering($event)"
         (loadeddata)="onPlayListLoaded($event)"
         [autoplay]="autoPlay">
  </video>
  <div>{{currentAction}}</div>
</mat-card-content>