<mat-card>
  <div *ngIf="treeIsReady">

    <mat-card-content>

      <tree-root [nodes]="nodes"
                 [options]="options">
        <ng-template #treeNodeTemplate
                     let-node
                     let-index="index">

          <span *ngIf="node.data.type === 'directory'"
                (click)="onFolderClick.emit(node.data.path)">
            <span [title]="'add all media to a playlist named ' + node.data.name">
              <mat-icon *ngIf="hasMediaFiles(node.data,'file')"
                        (click)="onPopulatingPlaylist.emit(node.data)">playlist_add</mat-icon>
              {{node.data.name}}
            </span>
          </span>
          <span *ngIf="node.data.type === 'file'"
                (click)="onAddingMediaToPlaylist.emit(node.data)">
            <mat-icon>file</mat-icon> {{node.data.name}}
          </span>

        </ng-template>
      </tree-root>
    </mat-card-content>

  </div>
</mat-card>