<!--The content below is only a placeholder and can be replaced.-->

<div>
  <mat-toolbar color="primary">
    <span>Media Player</span>

    <button mat-icon-button
            [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <!-- selection menu -->
    <mat-menu x-position="before"
              #menu="matMenu">
      <button mat-menu-item>Audio</button>
      <button mat-menu-item>Video</button>
    </mat-menu>
  </mat-toolbar>

  <div class="row">
    <div class="col-6 folder">
      <app-tree #treeComponent
                [tree]="tree"
                [treeIsReady]="treeIsReady"
                (onAddingMediaToPlaylist)="addToPlaylist($event)"
                (onParentFolderClick)="getParentFolder($event)"
                (onFolderClick)="getFolderContents($event)"
                (onPopulatingPlaylist)="populatePlaylist($event)">
      </app-tree>
    </div>

    <div class="col-6 ">

      <div class=" row">
        <div class="col-12 playlist">
          <mat-card>
            <div>
              <app-play-list #appPlayList
                             *ngIf="user"
                             (onMediaSelected)="onMediaLoaded($event,false)"
                             (onPlaylistSelected)="onPlayListLoaded($event)"
                             [playLists]="user.playLists"
                             [playBackSettings]="user.playBackSettings"
                             (onPlayListSaved)="onPlayListSaved($event)"></app-play-list>
            </div>

          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <mat-card>
            <app-player [media]="selectedMedia"
                        [autoPlay]="true"
                        (evtMediaEnded)="onMediaEnded($event)"></app-player>
          </mat-card>
        </div>
      </div>
    </div>

  </div>
</div>