<mat-card-content>
  <mat-card-title>playList.playlistName</mat-card-title>
  <div>
    <select #selPlaylist (change)="onSelectedPlaylist(selPlaylist.value)">
      <option selected=selected>[select a playlist]</option>
      <option *ngFor="let pl of playLists" >
        {{pl.playlistName}}
      </option>
    </select>
  </div>
  <div style="background-color:gray;">
    <i class="app-action material-icons md-light" (click)="savePlaylist()" title="save this playlist">save</i>
    <i class="app-action material-icons" (click)="clearPlaylist()" title="clear this playlist">clear</i>
    <i class="app-action material-icons" [ngClass]="{'md-light':playBackSettings.repeat, 'md-dark':!playBackSettings.repeat}" (click)="toggleRepeatPlayback()" [title]="'loop playback: ' + (playBackSettings.repeat?'on':'off')">loop</i>
    <i class="app-action material-icons" [ngClass]="{'md-light':playBackSettings.shuffle, 'md-dark':!playBackSettings.shuffle}" (click)="toggleShuffle()" [title]="'shuffle media: ' + (playBackSettings.shuffle?'on':'off')">shuffle</i>
  </div>
  <ul *ngIf="playList && playList.items">
    <li *ngFor="let media of playList.items">
      <i (click)="onSelectedMedia(media)" class="app-action material-icons md-18 ">play_arrow</i>
      <span>{{media.name}}</span>
    </li>
  </ul>
</mat-card-content>